.postsList{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 400px;
}

.sideline{
    border: 1px solid #545454;
    height: 100.3%;
    position: absolute;
    left: 390px;
    top: -10px;
}

.title{
    font-size: 50px;
    font-weight: bold;
    color: #545454;
}

.year{
    font-size: 30px;
    font-weight: bold;
    color: #545454
}

.month{
    font-size: 20px;
    font-weight: bold;
    color: #545454;
}

.postlinks{
    color: #055983;
    text-decoration: none;
}

.postLinks:visited{
    color: #055983;
    text-decoration: none;
}

