.button {
    display: inline-block;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;

    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0px 2px;
    border-radius: 5px;
    font-size: 12px;
    width: 200px;
}

.buttonColor{
    background-color: #f6f6f6;
    color: #005885;
}

.buttonColor:hover{
    background-color: #005885;
    transition: 0.7s;
    color: #f6f6f6;
}

.buttonColorDarkMode{
    background-color: #434343;
    color: #cfe2f3
}

.buttonColorDarkMode:hover{
    background-color: #005885;
    transition: 0.7s;
    color: #f6f6f6;
}

.selected{
    background-color: #434343;
    transition: 0.7s;
    color: #f6f6f6;
}

.selectedDarkMode{
    background-color: #f6f6f6;
    transition: 0.7s;
    color: #434343;
}