.content{
    display: block;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 35px;
    text-decoration: none;
    font-weight: bold;
}

.contentColor{
    color: #545454;
}

.contentColorDarkMode{
    color: #f6f6f6;
}

.line{
    border-top: 1px solid #545454;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
    margin-right: 40px;
}

.contentColor:visited{
    text-decoration: none;
    color: #545454;
}

.contentColorDarkMode:visited{
    text-decoration: none;
    color: #f6f6f6;
}