.monthYearContainer{
    display: flex;
    justify-content: center;
}

.monthYear{
    margin: 0px 5px;
    font-size: 25px;
    font-weight: bold;
}

.monthColor{
    color: #545454;
}

.monthColorDarkMode{
    color: #f6f6f6;
}

.yearColor{
    color: #545454;
}

.yearColorDarkMode{
    color: #f6f6f6;
}